[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
gevent = "*"
flask-wtf = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-table = "*"
flask-migrate = "*"
flask-marshmallow = "*"
ma = "*"
marshmallow-sqlalchemy = "*"
wtforms-alchemy = "*"

[requires]
python_version = "3.7"
