[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbr = "*"
coverage = "*"
pytest = "*"

[packages]
flask = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
gevent = "*"
flask-wtf = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-assets = "*"
flask-table = "*"
flask-migrate = "*"
flask-marshmallow = "*"
ma = "*"
marshmallow-sqlalchemy = "*"
wtforms-alchemy = "*"
psycopg2-binary = "*"
pyscss = "*"
gunicorn = "*"
werkzeug = "*"
flask-cors = "*"

[requires]
python_version = "3.8"
