<!DOCTYPE html>
<html lang="en">
<head>
    <title>Protocol Builder Mock</title>
    <base href="{{ BASE_HREF }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/kwp6dli.css">
    {% assets 'app_scss' %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
    {% endassets %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<h2>Protocol Builder Mock</h2>

<p>
    <a class="btn btn-primary" href="{{ url_for('.new_study') }}"> New Study </a>
</p>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<h3>Current Studies</h3>
{{ table }}
</body>


</html>
